.navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #0ca9a9, #0ca9a9, #0ca9a9,#0ca9a9);
}

.navbar-brand {
    font-size: 2rem;
}

.footer {
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #0ca9a9, #0ca9a9, #0ca9a9,#0ca9a9);
}

.logo-text {
    color: #23BBBB;
}

.link-text{
    color: #23BBBB;
    background-color: #f5f5f5;
    border-radius: 50%;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pse-logo {
    color: #f5f5f5;
    background-color: #23BBBB;
    border-radius: 50%;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.main-bg {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/vertical-waves.png"),
    linear-gradient(to right, #ffffff, #ffffff, #23BBBB);
    display: contents;
}

#hero {
    background-image: url("https://res.cloudinary.com/djck2eqxo/image/upload/v1666382151/nav_mono_edit_lrptv9.png");
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.callout-container {
    height: 100vh;    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}