{% extends "base.html" %}
{% load static %}
{% block content %}

<div class ="container">
<div class="list-heading">
    <div class="row list-heading-row">
        <div class="col-md-6 vert-center">
            <img class="img-fluid heading-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1668078361/Screen_Shot_2022-11-10_at_11.04.41_wwquu3.png" alt="About Page Image">
        </div>
        <div class="col-md-6 vert-center">
            <div class="row passport-text-row">
                <h2 class="passport-title"><i class="fa fa-question-circle" aria-hidden="true"></i> About</h2> 
                <p>Welcome to MyPSE.ie. <br> (My Passport for Special Education in Ireland)</p>
                <p>For simple instructions on how to use this site, please see the 'User Guides' section below.</p>
                <p> To learn more about the benefits of SEN Transition Passports, click on the 'Learn More' section.
                    There are also two sample passports availiable that users are free to view.
                </p>
            </div>
        </div>
    </div>
</div>

        <section> 
            <div class="row">
                <div class="container"> 
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-item">
                                <img class="card-img-top" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1668295343/learn_more_zh9h5e.png" alt="Card image cap">
                                <div class="row form-row">
                                    <h5 class="passport-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Learn More</h5>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">What Are transition Passports?</h6>
                                    <p class="card-text">Learn how SEN Pupil Passports for Special Educational Transitions
                                        can benefit SEN pupils.
                                    </p>

                                    <a href="{% url 'learn_more' %}">Click here! <i class="fa fa-mouse-pointer" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-4">
                            <div class="card card-item">
                                <img class="card-img-top" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1668305139/instructions_mjawki.png" alt="Card image cap">
                                <div class="row form-row">
                                    <h5 class="passport-title"><i class="fa fa-question-circle" aria-hidden="true"></i> User Guides</h5>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">Learn How to Use MyPSE.ie</h6>
                                    <p class="card-text"> Download one of our handy user guides by clicking a link below.</p>
                                    <a target="_blank" href="https://res.cloudinary.com/djck2eqxo/image/upload/v1668304302/user_guide_pupil_g6qlix.pdf">Pupil User Guide PDF <i class="fa fa-download" aria-hidden="true"></i></a>
                                    <br>
                                    <a target="_blank" href="https://res.cloudinary.com/djck2eqxo/image/upload/v1668304288/user_guide_parent_tlufbk.pdf">Parent User Guide PDF <i class="fa fa-download" aria-hidden="true"></i></a>
                                    <br>
                                    <a target="_blank" href="https://res.cloudinary.com/djck2eqxo/image/upload/v1668304275/user_guide_teacher_ot2sgp.pdf">Teacher User Guide PDF <i class="fa fa-download" aria-hidden="true"></i></a>
                                    <br>
                                    <a target="_blank" href="https://res.cloudinary.com/djck2eqxo/image/upload/v1668304655/user_guide_school_nczq27.pdf">School Admin User Guide PDF <i class="fa fa-download" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="card card-item">
                                <img class="card-img-top" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1668300676/samples_header_fc4yd2.png" alt="Card image cap">
                                <div class="row form-row">
                                    <h5 class="passport-title"><i class="fa fa-id-card" aria-hidden="true"></i></i> Samples</h5>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">Click a Sample to view</h6>
                                    <p class="card-text">View a sample passport for inspiration!</p>
                                    <a target="_blank" href="https://res.cloudinary.com/djck2eqxo/image/upload/v1668376122/wmsample_abi_mrmseh.pdf">Sample One - Abigail <i class="fa fa-download" aria-hidden="true"></i></a>
                                    <br>
                                    <a target="_blank" href="https://res.cloudinary.com/djck2eqxo/image/upload/v1668376146/wmsample_ami_h5rwcx.pdf">Sample Two - Amida <i class="fa fa-download" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
        <hr class="list-separator-rule">
    </div> 
</div>
{% endblock %}