{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A social network to find and share recipes with like minded amateur chefs">
    <meta name="keywords" content="special education, transitions, care needs, special needs, communication passport, passport, communication, difficulties, children, pupils, school, SEN, passport app">
    <title>MyPSE.ie - {{ title }}</title>
</head>