{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container form-container">
    <div class="row form-row">
        {% if "enrolled_pupil_list" in request.META.HTTP_REFERER or "delete" in request.META.HTTP_REFERER %}
            {% if user.is_authenticated and user.role == "school" %} 
                <div class="col-md-8 mt-3 offset-md-2">
                    <h2 class="passport-title">Pupil Record</h2>
                </div>
                <div class="row passport-text-row record-text">
                    <p><strong>Pupil Name:</strong>     <span> {{ record.pupil_full_name }}</span></p>
                    <p><strong>Pupil ID:</strong>       <span> {{ record.pupil_id }}</span></p>
                    <p><strong>School:</strong>         <span> {{ record.school_name }}</span></p>
                    <p><strong>School Email:</strong>   <span> {{ record.school_email }}</span></p>
                    <p><strong>School Roll No:</strong>   <span> {{ record.school_roll_number }}</span></p>
                        <br> 
                        <br>
                </div>
                <br>
                <br>

                <div class="col-md-8 mt-3 offset-md-2" >
                    <a  href="{% url 'update_pupil_record' record.id %}"><h6 class="passport-options">Edit Pupil Data</h6></a>
                    <a  href="{% url 'delete_pupil_record' record.id %}"><h6 class="passport-options">Delete Pupil Record</h6></a>
                </div>
            </div>
        </div>    
        <hr class="list-separator-rule">
              {% else %}
              <section class="warning-heading">
                <div>
                    <img class="warning-logo" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1668002468/kisspng-vector-graphics-warning-sign-clip-art-illustration-5d2c40d1540a65.6649287915631812653442_ietfhg.png" alt="Warning Logo">
                </div>
                <h1 class="list-text">***WARNING***</h1>
                    <p>Warning! 
                        You are unauthorised to view this page! 
                        You have navigated to this page from an unauthorised url or your user role is unauthorised to view this page.
                        <br>
                        Please visit the <a href="{% url 'about' %}">about page</a>  for more information about how to use this site.</p>
                    <a href="{% url 'home' %}" class="btn btn-lg btn-success">Click Here to visit the MyPSE.ie Home page</a>
            </section>
            {% endif %}
        {% else %}
        <section class="warning-heading">
            <div>
                <img class="warning-logo" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1668002468/kisspng-vector-graphics-warning-sign-clip-art-illustration-5d2c40d1540a65.6649287915631812653442_ietfhg.png" alt="Warning Logo">
            </div>
            <h1 class="list-text">***WARNING***</h1>
                <p>Warning! 
                    You are unauthorised to view this page! 
                    You have navigated to this page from an unauthorised url or your user role is unauthorised to view this page.
                    <br>
                    Please visit the <a href="{% url 'about' %}">about page</a>  for more information about how to use this site.</p>
                <a href="{% url 'home' %}" class="btn btn-lg btn-success">Click Here to visit the MyPSE.ie Home page</a>
        </section>
        {% endif %}    
    {% endblock %}