{% extends "base.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <title>
            Home
        </title>
    </head>

    <div class="container">  
        <div class="row">
            <div id="home-hero">
                <div id="hero-text">
                    <h4>Your passport to a world of understanding...</h4>
                </div>
                <img class="hero-image" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1666562082/Screen_Shot_2022-10-23_at_22.53.54_r5yc9v.png" alt="">
                <div id="hero-text">
                    <h5>SEN Pupil Passports for Educational Transitions</h5>
                </div>
            </div>
        </div> 
        <section> 
            <div class="row">
                <div class="container"> 
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb4 card-item">
                                <img class="card-img-top" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1666441949/IMG_7215_rdpkn2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">MyPSE.ie Schools</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Enroll your pupils and see thier passports</h6>
                                    <p class="card-text">Enroll your pupils to help them safely share thier passports</p>
                                    <a href="#" class="card-link">Login</a>
                                    <a href="#" class="card-link">Sign up</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card mb4 card-item">
                                <img class="card-img-top" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1666387968/IMG_7195_ukfrkd.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">My Passport</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Show the world the real you</h6>
                                    <p class="card-text">Create, Edit and Style your passport!</p>
                                    <a href="#" class="card-link">Login</a>
                                    <a href="#" class="card-link">Sign up</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="card mb4 card-item">
                                <img class="card-img-top" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1666441922/IMG_7243_qskwn9.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">About MyPSE.ie</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">What are SEN passports?</h6>
                                    <p class="card-text">Learn about the benefits of SEN passports and how they can help pupils during transitions</p>
                                    <a href="#" class="card-link">About</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
    </div> 
</html>
{% endblock %}