{% extends "base.html" %}
{% load static %}
{% block content %}

<div class ="container">
    <div class="list-heading">
        <div class="row list-heading-row">
            <div class="col-md-12 vert-center">
                <div class="row passport-text-row">
                    <h2 class="passport-title"><i class="fa fa-question-circle" aria-hidden="true"></i> About SEN Passports</h2> 
                    <p>Pupils with Special Educational Needs (SEN) can find educational transitions difficult. 
                        SEN Passports are a simple communication tool that can help pupils and parents provide
                        Teachers with important and sometimes vital information about the transitioning pupil's 
                        needs and additional support.
                    </p>
    
                    <p>
                        SEN Passports make up just part of a pupil's transition support plan. 
                        The successful transition of an SEN pupil includes many other steps, including
                        parent-teacher conferences, appropriate class placement, applications for resources
                        etc. It is because they make up such a small part of this planning, that they are often
                        overlooked or regarded as an 'additional' or 'optional support. 
                    </p>

                    <p>
                        It is the intention of MyPSE.ie to provide a simple, efficient way for 
                        SEN schools, teachers, pupils, and parents to create and organise SEN passports
                        whilst promoting the many benefits that using passports can provide.
                    </p>

                    <p>
                        <img class="passport-item" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1668352861/Screen_Shot_2022-11-13_at_15.20.47_mnemp4.png" alt="NCSE Logo">
                    </p>

                    <p>
                        <strong>*** PLEASE NOTE THE MyPSE.ie WEB APPLICATION WAS NOT DESIGNED IN ASSOCIATION WITH THE NCSE,
                        The Department of Education and Skills or any other body. *** </strong>
                    </p>
    
                    <p>
                        On its website, the National Council for Special Education describes many types of transitions 
                        that SEN pupils can make during their time in education. These include:
                    </p>

                    <p>    
                        Moving between Mainstream and Special Education
                        - Moving Between Primary and Secondary School
                        - Changing Schools
                    </p>

                    <p>   
                        For more information about SEN Transitions you can check out the official NCSE support documents <a target="_blank" href="https://ncse.ie/transitions-2">here.</a>
                    </p>
    
                    <p>
                        Ideally, SEN passports should accompany a pupil when they first arrive at a new school.
                        They contain important indicators of a pupil's educational ability, emotional triggers, likes, and personality,
                        as well as an overview of a pupil's social and communication skills. Many different frameworks and templates are used to provide as much background information
                        as possible that will help a teacher quickly understand and address the needs of any given pupil.
                    </p>

                    <p> 
                        Here is an example of a template provided by the excellent 4schools Planner For Teachers of Special Education:
                    </p>

                    <p>
                       <img class="passport-item" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1668348662/IMG_20221113_132340_naqq8g.jpg" alt="Physical Passport Image">
                    </p>
    
                    <p>
                        In order to provide a sense of familiarity, MyPSE.ie has adapted the layout of this template to create our own custom user passport. 
                    </p>
                     
                    <h4>Why MyPSE.ie?</h4>
                    <p>
                        So why the need for this site?
                        First and foremost, any additional resource that becomes available to help SEN pupils during
                        educational transitions should be welcome. MyPSE.ie however does have several features that will help 
                        improve the accessibility of SEN passports and also raise awareness of the importance and utility of the
                        resource as the site increased its user base over time.
                    </p>

                   <h4>How Does it Work?</h4>
                    <p>
                        Firstly, pupils must be enrolled in the MyPSE.ie database to ensure all passports created are legitimate and that no more
                        than one passport can be created per pupil. Users with the role of 'School' can easily Enroll pupils. When a pupil is enrolled
                        School administration staff can print off a pupil ID form and physically send it home with the pupil. The form will contain the users
                        Pupil ID and Teacher Number for the user to complete their passport form.
                        Secondly, Pupils or Parents can create and style passports by first, registering as a parent or pupil
                        and then confirming their pupil ID numbers. They include the teacher ID number when creating their passports. Provided by the School
                        Admin Staff, the teacher ID is what grants access to the pupil's passport.
                        Lastly, teachers can view pupil passports by registering an account and then providing their unique teacher ID number. 
                        This number will return a list of passports the teacher is authorised to view. For further security, the teacher must also provide the
                        pupil's pupil ID number before they can view the document.
                    </p>

                    <h4>Uniformity</h4>
                    <p> 
                        Because MyPSE.ie is available to everyone and can be easily accessed across many different platforms
                        it can offer familiarity to its users and pupils can enjoy continuity of service as they make transitions throughout
                        their educational life. As its user base grows, teachers will become more familiar with where to find specific information as 
                        the layout will always retain its fundamental structure.
                    </p>

                    <h4>Safe and Secure</h4>
                    <p>
                        MyPSE.ie puts the pupil and their parents firmly in control of who gets to access their passport. Following GDPR guidelines
                        MyPSE.ie passports only allow one teacher to be assigned to a pupil at any given time. When a pupil or a parent changes the
                        teacher ID on a passport the previous teacher's access is immediately revoked.
                        There is also no way for anyone to create a passport without a valid Pupil ID number that will be physically provided via
                        your school admin.
                    </p>
                    <h4>Always availiable</h4>
                    <p>
                        Picture the scene. You're on a school trip with SEN pupils and one of the newly enrolled pupils seems to be upset. 
                        A traditional passport document would be back at school and inaccessible. With MyPSE.ie just log on via your smartphone 
                        and get the vital information you require to assist your SEN pupil.
                    </p>

                    <h4>Easily Editable</h4>
                    <p>
                        With a MyPSE.ie Pupil Passport you only have to make a passport once. Then it's just a matter of keeping your passport
                        updated as you (or your child) progress through school.
                    </p>

                    <p>
                        Thanks for your interest in MyPSE.ie.
                        We hope you find the application informative and beneficial.
                    </p>
    
                    <p>   
                        You can look at some sample passports by returning to the <a href="/about/">about page.</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <hr class="list-separator-rule">

</div> 
{% endblock %}