{% extends "base.html" %}
{% load static %}
{% block content %}

<div class ="container">
<div class="list-heading">
    <div class="row list-heading-row">
        <div class="col-md-12 vert-center">
            <div class="row passport-text-row">
                <h2 class="passport-title"><i class="fa fa-question-circle" aria-hidden="true"></i> About SEN Passports</h2> 
                <p>Pupils with Special Educational Needs (SEN) can find educational transitions difficult. 
                    SEN Passports are a simple communication tool that can help pupils and parents provide
                    Teachers with important and sometimes vital information about the transitioning pupil's 
                    needs and additional supports.

                    There are many transitions that SEN Pupils experience during their education:
                    
                    - Moving Between Classes
                    - Moving Between Primary and secondary School
                    - Moving Schools
                    - Changing Teachers

                    SEN passports often accompany a pupil when they first arrive at a new school.
                    They contain important indicators of a pupil's educational ability, triggers, likes and personality,
                    as well as social and communication skills.
                    
                    Many different frameworks and templates are used to provide as much background information
                    as possible that will help a teacher quickly understand and address the needs of any given pupil.

                    Here is an example of a template provided by the excellent 4schools Planner For Teachers of Special Education

                    ***IMAGE***

                    For more information about SEN Transitions you can check out the official NCSE support documents <a href="https://ncse.ie/transitions-2">here.</a>  

                    <h4>Why MyPSE?</h4>

                    So why the need for this site?

                    First and foremost, any additional resource that becomes availiable to help SEN pupils can only
                    be of benefit. MyPSE.ie however does have several features that will help deliver a more 
                    efficient way of sharing passports going forward.

                    <br>

                    <h4>How Does it Work?</h4>

                    Firstly, Pupil's must be enrolled on the MyPSE.ie system to ensure all passports created are legitimate and that no more
                    than one passport can be created per pupil. Users with the roll of 'School' can easily Enroll pupils. When a pupil is enrolled
                    School administration staff can print off a pupil ID form and physically send it home with the pupil. The form will contain the users
                    Pupil ID and Teacher Number for the user to complete thier passport form.
                    
                    Secondly, Pupils or Parents can create and style passports by firstly, registering as parent or pupil users
                    and then confirming their pupil ID numbers. They include the teacher ID number when creating their passports. Provided by the School
                    Admin Staff, the teacher ID is what grants access to the pupil's passport.

                    Lastly, teachers can view pupil passports by registering an account then providing their unique teacher ID number. 
                    This number is will return a list of passports the teacher is authorised to view. For further security, the teacher must also provide the
                    pupil's pupil ID number before they can view the document.

                    <br>
                    
                    <h4>Uniformity</h4>

                    Because MyPSE.ie is availiable to everyone and can be easily accessed across many different platforms
                    it can offer a familiarity to its users and pupils can enjoy a continuity of service as they make transitions throughout
                    their educational life. As its usership grows Teachers will become more familiar with where to find specific information as 
                    the layout will always retain its fundamental structure.

                    <br>

                    <h4>Safe and Secure</h4>

                    MyPSE.ie put the pupil and thier parents firmly in control of who gets to access their passport. Following GDPR guidelines
                    MyPSE.ie passports only allow one teacher to be assigned to a pupil at any given time. When a pupil or a parent changes the
                    teacher ID on a passport the previous teacher's access is immediatley revoked.

                    There is also no way for anyone to create a passport without a valid Pupil ID number that will be physically provided via
                    your school admin.

                    <h4>Always availiable</h4>

                    Picture the scene. You're on a school trip with SEN pupils and one of the newly enrolled pupils seems to be upset. 
                    A traditional passport document would be back at school and inaccessable. With MyPSE.ie just logon via your smartphone 
                    and get the vital information you require to assist your SEN pupil.

                    <br>

                    <h4>Easily Editable</h4>

                    With a MyPSE.ie Pupil Passport you only have to make a passport once. Then it's just a matter of keeping your passport
                    updated as you (or your child) progresses through school.

                    <br>


                    Thanks for your interest in MyPSE.ie. 
                    
                    You can look at some sample passports by returning to the <a href="{% url 'about' %}">about page.</a>



                </p>
            </div>
        </div>
    </div>
</div>
        </section>
        <hr class="list-separator-rule">
    </div> 
</div>
{% endblock %}