{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="list-heading">
    <div class="col-md-12 vert-center">
        <div class="row">
            <h2 class="passport-title">My Passports</h2>
        </div>
    </div>

    <div class="row passport-text-row">
        <p class="list-text">Click on a passport below to access, update or delete information <br>
            You can add add a new passport via the link below
            if you have a valid pupil id. (read more)</p>
    </div>
</div>    
    
    <hr class="list-separator-rule"> 
            {% if user.is_authenticated and user.role == "parent" %}
            
            {% for passport in passport_list %}
            <div class="row">
                <div class="container"> 
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb4 card-item">
                                <img class="card-img-top" src="{{ passport.my_passport_image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ passport.my_full_name }}</h5>
                                    <h6 class="pupil-id-text"  class="card-subtitle mb-2 text-muted">{{ passport.pupil_id}}</h6>
                                    <p class="card-text"> Read, and update your passport! </p>
                                </div>
                            
                                <div class="col-md-12 vert-center">
                                        <h4>
                                            <a href="{% url 'passport_detail' passport.slug %}"><h4 class="passport-options">View Passport</h4></a>
                                        </h4>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <hr class="list-separator-rule">
            
            {% endfor %}

            <div class="footer-container">
                <div class="col-md-12 vert-center">
                    <div class="row">
                        <a  href="{% url 'validate_pupil_id' %}"><h6 class="passport-options">Add Passport +</h6></a>
                    </div>
                </div>
            </div>

            <hr class="list-separator-rule">
            
            {% elif user.is_authenticated and user.role == "pupil" %}

            {% for passport in passport_list %}
            <div class="row">
                <div class="container"> 
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb4 card-item">
                                <img class="card-img-top" src="{{ passport.my_passport_image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ passport.my_full_name }}</h5>
                                    <h6 class="pupil-id-text" class="card-subtitle mb-2 text-muted">{{ passport.pupil_id}}</h6>
                                    <p class="card-text"> Read, and update your passport! </p>
                                </div>
                            
                                <div class="col-md-12 vert-center">
                                        <h4>
                                            <a  href="{% url 'passport_detail' passport.slug %}"><h4 class="passport-options">View Passport</h4></a>
                                        </h4>
                                </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr class="list-separator-rule">
            
            {% endfor %}

            {% else %}
            <h1>
                Warning! 
                You are unauthorised to view this page! 
                If you cannot find the page you are looking for please email MyPSE.ie support
                or visit the about page for more information about how to use this site.
            </h1>
            {% endif %}
    {% endblock %}