{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="list-heading">
            <div class="row flex-row-reverse list-heading-row">
                <div class="col-md-6 vert-center">
                    <img class="img-fluid heading-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1667598847/placeholders/Screen_Shot_2022-11-04_at_21.52.53_bnpi96.png" alt="">
                </div>
                <div class="col-md-6 vert-center">
                    <div class="row passport-text-row">
                        <h2 class="passport-title"><i class="fa fa-id-card" aria-hidden="true"></i> My Passports</h2>
                        <p class="list-text">
                            Click on a passport below to access, update or delete information 
                            <br>
                            You can add add a new passport via the link below
                            if you have a valid pupil id. (read more)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        
        <hr class="list-separator-rule"> 
        
        {% if user.is_authenticated and user.role == "parent" %}

        <!-- Created Passports Column -->
        <div class="col-md-12 left">
            <div class="row passport-row">
                {% for passport in passport_list %} 
                    <div class="col-md-4">
                        <div class="card card-item">
                            <div class="card-img-container">
                                {% if "placeholder" in passport.my_family_image.url %}
                            
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/djck2eqxo/image/upload/v1667583583/placeholders/Screen_Shot_2022-11-04_at_17.38.53_jy9cjm.png">
                                {% else %}
                                    <img class="card-img-top" src="{{ passport.my_passport_image.url }}" alt="Card image cap">  
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ passport.my_full_name }}</h5>
                                <h6 class="pupil-id-text"  class="card-subtitle mb-2 text-muted">{{ passport.pupil_id}}</h6>
                                <p class="card-text"> Read, and update your passport! </p>
                            </div>
                                        
                            <div class="col-md-12 vert-center">
                                <a class="passport-options"  href="{% url 'passport_detail' passport.slug %}">View Passport</a>
                            </div>
                        </div>
                    </div>   
                    {% if forloop.counter|divisibleby:3 %}
                </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            
            <div style="text-align: center;">
                <h6> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h6>
            </div>
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        
            <div class="footer-container">
                <div class="col-md-12 vert-center">
                    <div class="row">
                        <a  href="{% url 'validate_pupil_id' %}"><h6 class="passport-options">Add Passport +</h6></a>
                    </div>
                </div>
            </div>
    
            <hr class="list-separator-rule">  
                   
        {% elif user.is_authenticated and user.role == "pupil" %}

            <div class="col-md-12 left">
            <div class="row passport-row">
            {% for passport in passport_list %} 
            <div class="col-md-4">
                <div class="card card-item">
                    <div class="card-img-container">
                        {% if "placeholder" in passport.my_family_image.url %}
                        <img class="card-img-top"
                            src="https://res.cloudinary.com/djck2eqxo/image/upload/v1667583583/placeholders/Screen_Shot_2022-11-04_at_17.38.53_jy9cjm.png">
                        {% else %}
                            <img class="card-img-top" src="{{ passport.my_passport_image.url }}" alt="Card image cap">  
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ passport.my_full_name }}</h5>
                        <h6 class="pupil-id-text"  class="card-subtitle mb-2 text-muted">{{ passport.pupil_id}}</h6>
                        <p class="card-text"> Read, and update your passport! </p>
                    </div>
                                
                    <div class="col-md-12 vert-center">
                        <a class="passport-options"  href="{% url 'passport_detail' passport.slug %}">View Passport</a>
                    </div>
                </div>
            </div>   
            {% endfor %} 
            </div>
        </div>     
        <hr class="list-separator-rule">

    {% else %}
    <h1>
        Warning! 
        You are unauthorised to view this page! 
        If you cannot find the page you are looking for please email MyPSE.ie support
        or visit the about page for more information about how to use this site.
    </h1>
    {% endif %}
    {% endblock %}