{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <title>
       Passport
    </title>
</head>
<body>
    <div class="container-fluid passport-container">
        <div class="row">
            {% if "/add_passport" or "/update_passport" in request.META.HTTP_REFERER %}
                {% if user.is_authenticated and user.role == "parent" or "pupil" %}
                    {% if passport.created_by|stringformat:'s' == user|stringformat:'s' %}  
                    <h1>My Passport</h1>
                    <hr class="passport-separator-rule">
                    <div class="col-md-5 vert-center">
                        <img class="passport-item" src=" {{ passport.my_passport_image.url }}">
                    </div>
                    <div class="col-md-7 vert-center">
                        <div class="row passport-title-row">
                        <h2 class="passport-title">{{ passport.my_full_name }}</h2>
                        </div>
                    </div>

                    <hr class="passport-separator-rule">

                    <div class="row passport-text-row">
                        <div class="col-md-7">
                            <div class="passport-text-item">
                                <h4>My Personal Details:</h4>
                                <br>
                                <div></div>
                                
                                <div>
                                    <h5 class="passport-info-text"><i class="fa fa-calendar" aria-hidden="true"></i><span></span>
                                    My Date of Birth:</h5> <h4 class="passport-info-data">{{ passport.my_date_of_birth }}</h4>
                                </div>
                                <div>
                                    <h5 class="passport-info-text"><i class="fa fa-user" aria-hidden="true"></i><span></span>
                                    My Emergency Contact Person:</h5> <h4 class="passport-info-data"> {{ passport.my_emergency_contact_name }}</h4>
                                </div>
                                <div>
                                    <h5 class="passport-info-text"><i class="fa fa-phone fa-flip-horizontal" aria-hidden="true"></i><span></span>
                                    My Emergency Contact Number:</h5> <h4 class="passport-info-data">{{ passport.my_emergency_contact_number}}</h4>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-5 passport-logo">
                            <img src="https://res.cloudinary.com/djck2eqxo/image/upload/v1666825821/Screen_Shot_2022-10-27_at_00.09.34_wpciy2.png" alt="">
                        </div>
                    </div>
                   
                    <hr class="passport-separator-rule">

                    <div class="col-md-6">
                        <h3>Family: {{ passport.my_family | safe }}</h3>
                    </div>

                    <div class="col-md-6">
                        <img class="passport-item" src=" {{ passport.my_family_image.url }}">
                    </div>
                    
                    
                    <div class="col-md-6 passport-item">
                        <h3>Bio: {{ passport.my_biography | safe}}</h3>
                    </div>
                    
                    
                    
                
                    <h3>Difficulties</h3>
                    <h3>Supports</h3>
                    <h3>Calming Measures</h3>
                    <h3>Other Info</h3>
                    
                    <h3>Likes:                          {{ passport.my_likes | safe }}</h3>
                    <h3>Dislikes:                       {{ passport.my_dislikes | safe }}</h3>
                    <h3>Strengths:                      {{ passport.my_strengths | safe }}</h3>
                    <h3>Communication:                  {{ passport.my_communication_skills | safe }}</h3>
                    <h3></h3>
                    <h3></h3>
                    <h3></h3>

                    
                    <br>
                    <a href="{% url 'update_passport' passport.id %}"><h4>Edit Passport</h4></a><span> </span><a href="{% url 'delete_passport' passport.id %}"><h4>Delete This Passport</h4></a>
                    {% else %}
                    <h3>
                        Warning! 
                        You are unauthorised to view this page! 
                        If you cannot find the page you are looking for please email MyPSE.ie support
                        or visit the about page for more information about how to use this site.
                    </h3>
                    {% endif %}
                {% else %}
                <h3>
                    Warning! 
                    You are unauthorised to view this page! 
                    If you cannot find the page you are looking for please email MyPSE.ie support
                    or visit the about page for more information about how to use this site.
                </h3>
                {% endif %}
            {% else %}
            <h3>
                Warning! 
                You are unauthorised to view this page! 
                If you cannot find the page you are looking for please email MyPSE.ie support
                or visit the about page for more information about how to use this site.
            </h3>
            {% endif %}
    {% endblock %}
 
       
        
    