{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <title>
       Passport
    </title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            {% if user.is_authenticated and user.role == "parent" %}  
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src=" {{ passport.my_passport_image.url }}" width="100%"> 
            </div>
            <h3>Name:                           {{ passport.my_full_name }}</h3> 
            <h3>D.O.B:                          {{ passport.my_date_of_birth }}</h3>
            <h3>Bio:                            {{ passport.my_biography}}</h3>
            <h3>Family:                         {{ passport.my_family | safe }}</h3>
            <h3>Likes:                          {{ passport.my_likes }}</h3>
            <h3>Dislikes:                       {{ passport.my_dislikes }}</h3>
            <h3>Strengths:                      {{ passport.my_strengths }}</h3>
            <h3>My Communications Skills:       {{passport.my_communication_skills }}</h3>
            <br>
            <a href="{% url 'update_passport' passport.id %}"><h4>Edit Passport</h4></a><span> </span><a href="#"><h4>Delete This Passport</h4></a>
            {% else %}
            <h1>
                Warning! 
                You are unauthorised to view this page! 
                If you cannot find the page you are looking for please email MyPSE.ie support
                or visit the about page for more information about how to use this site.
            </h1>
            {% endif %}
        {% endblock %}
 
       
        
    