{% extends "base.html" %}
{% load static %}
{% block content %}


{% if user.is_authenticated and user.role == "teacher" %}
<div class="container-fluid">
    <div class="row">
        <div class="list-heading">
            <div class="row flex-row-reverse list-heading-row">
                <div class="col-md-6 vert-center">
                    <img class="img-fluid heading-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1667916086/Screen_Shot_2022-11-08_at_14.00.13_yyaacy.png" alt="">
                </div>
                <div class="col-md-6 vert-center">
                    <div class="row passport-text-row">
                        <h2 class="passport-title"><i class="fa fa-check-circle" aria-hidden="true"></i> Authorisation Check</h2>
                        <p class="list-text">
                            For added security, please type PUPIL ID Number to access this passport. (Tell me more)
                        </p>
                    </div>
                </div>
                <div>
                    <form class="list-form" method='GET'>
                        <input pattern="[0-9]{8}" title="Eight Digit Pupil ID Number" type='text' name='pupil_id' value='{{ request.GET.pupil_id}}'>
                        <input class="button" type='submit' value="Verify Pupil ID">
                      </form>
                </div>
                {% for passport in passport_list %}
                <div class="record-bg-dark">
                    <a href="{% url 'teacher_passport_detail' passport.slug %}">
                    <p>Pupil Name : {{ passport.my_full_name}} ---- Click here!</p>
                    </a>
                </div>
{% endfor %}
            </div>
        </div>
    </div>
</div> 

<hr class="list-separator-rule">


        {% else %}
        <section class="warning-heading">
            <div>
                <img class="warning-logo" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1668002468/kisspng-vector-graphics-warning-sign-clip-art-illustration-5d2c40d1540a65.6649287915631812653442_ietfhg.png" alt="Warning Logo">
            </div>
            <h1 class="list-text">***WARNING***</h1>
                <p>Warning! 
                    You are unauthorised to view this page! 
                    You have navigated to this page from an unauthorised url or your user role is unauthorised to view this page.
                    <br>
                    Please visit the <a href="{% url 'about' %}">about page</a>  for more information about how to use this site.</p>
                <a href="{% url 'home' %}" class="btn btn-lg btn-success">Click Here to visit the MyPSE.ie Home page</a>
        </section>
        {% endif %}
 {% endblock %}