{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated and user.role == "teacher" %}
        <div>
            <h2>Welcome Teacher</h2>
            <h3>You can view any passports you are authorised to access here.</h3>
            <h3>To find any passports you have access to, type your MyPSE teacher ID number below.</h3>
            <form method='GET'>
                <input type='text' name='teacher_id' value='{{ request.GET.teacher_id }}'>
                <input class="button" type='submit' value="Search Passports">
              </form>
            <hr>
        </div>
            {% for passport in passport_list %}
                <div>
                    <a href="{% url 'teacher_validate_pupil_id' %}">
                        <h4>Pupil Name : {{ passport.my_full_name }} </h4>
                    </a>
                </div>
            {% endfor %} 
        {% else %}
        <h1>
            Warning! 
            You are unauthorised to view this page! 
            If you cannot find the page you are looking for please email MyPSE.ie support
            or visit the about page for more information about how to use this site.
        </h1>
        {% endif %}
        {% endblock %}