{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Teacher passport list page heading text, custom image and authorisation conditions -->

{% if user.is_authenticated and user.role == "teacher" %}
<div class="container-fluid">
    <div class="row">
        <div class="list-heading">
            <div class="row flex-row-reverse list-heading-row">
                <div class="col-md-6 vert-center">
                    <img class="img-fluid heading-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1669033404/fillers/Screen_Shot_2022-11-08_at_11.10.51_gof6pm_xofayq.webp" alt="">
                </div>
                <div class="col-md-6 vert-center">
                    <div class="row passport-text-row">
                        <h2 class="passport-title"><i class="fa fa-id-card" aria-hidden="true"></i> Pupil Passports</h2>
                        <p class="list-text">
                            You can view any passports you are authorised to access here. 
                            <br>
                            To find any passports you have access to, type your TEACHER ID NUMBER below.
                            No passports will appear if they have not been assigned to you by a pupil or a parent.
                        </p>
                    </div>
                </div>
                <div>
                    <form class="list-form" method='GET'>
                        <input pattern="[0-9]{6}" title="Six Digit Teacher ID Number" type='text' name='teacher_id' value='{{ request.GET.teacher_id }}'>
                        <input class="button" type='submit' value="Search Passports">
                      </form>
                </div>
                {% for passport in passport_list %}
                <div class="{% cycle 'record-bg-dark' 'record-bg-light' %}">
                    <a onclick="setTeacherId();" href="{% url 'teacher_validate_pupil_id' %}">
                        <p>Pupil Name : {{ passport.my_full_name}} ---- Click here!</p>
                        <p id="set-teacher-id">{{ passport.teacher_id }}</p>
                    </a>
                </div>
{% endfor %}
            </div>
        </div>
    </div>
</div> 

<hr class="list-separator-rule">

<!-- If user not authorised show this instead! -->

{% else %}

<!-- Unauthorised access warning logo and text content -->

<div class="warning-heading">
    <div>
        <img class="warning-logo" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1668002468/kisspng-vector-graphics-warning-sign-clip-art-illustration-5d2c40d1540a65.6649287915631812653442_ietfhg.png" alt="Warning Logo">
    </div>

    <h1 class="list-text">***WARNING***</h1>
    <p>Warning! 
        You are unauthorised to view this page! 
        You have navigated to this page from an unauthorised url or your user role is unauthorised to view this page.
        <br>
        Please visit the <a href="{% url 'about' %}">about page</a>  for more information about how to use this site.</p>
    <a href="{% url 'home' %}" class="btn btn-lg btn-success">Click Here to visit the MyPSE.ie Home page</a>
</div>

{% endif %}
{% endblock %}
