{% extends "base.html" %}
{% load static %}
{% block content %}

{% if "/pupil_check" or "/validate_pupil_id" in request.META.HTTP_REFERER %}
    {% if user.is_authenticated and user.role == "parent" or "pupil" %}

    <div class="container-fluid">
    <div class="row">
        <div class="list-heading">
            <div class="row flex-row-reverse list-heading-row">
                <div class="col-md-6 vert-center">
                    <img class="img-fluid heading-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1667916086/Screen_Shot_2022-11-08_at_14.00.13_yyaacy.png" alt="">
                </div>
                <div class="col-md-6 vert-center">
                    <div class="row passport-text-row">
                        <h2 class="passport-title"><i class="fa fa-check-circle" aria-hidden="true"></i> Authorisation Check</h2>
                        <p class="list-text">
                            For security purposes, please type your valid PUPIL ID Number to proceed (Tell me more)
                            If no match is displayed after clicking Verify Pupil Id, contact your school admin to request enrollment.
                        </p>
                    </div>
                </div>
                <div>
                    <form class="list-form" method='GET'>
                        <input pattern="[0-9]{8}" title="Eight Digit Pupil ID Number" type='text' name='pupil_id' value='{{ request.GET.pupil_id}}'>
                        <input class="button" type='submit' value="Verify Pupil ID">
                    </form>
                </div>
                {% for pupil in object_list %}
                    <div class="record-bg-dark">
                            <a onclick="setValidatePupilId()" href="{% url 'add_passport' %}">
                                <p>Pupil Name : {{ pupil.pupil_full_name}} -- Click to get started!</p>
                                <p id="valid-pupil-id">{{ pupil.pupil_id}}</p> 
                            </a>
                    </div>
                {% endfor %}
        </div>
    </div>
</div> 
<hr class="list-separator-rule">

            {% else %}
            <h3>
                Warning! 
                You are unauthorised to view this page! 
                If you cannot find the page you are looking for please email MyPSE.ie support
                or visit the about page for more information about how to use this site.
            </h3>
            {% endif %}

        {% else %}
        <h3>
            Warning! 
            You are unauthorised to view this page! 
            You have not navigated to this page from your list of approved passports.
        </h3>
        {% endif %}
 {% endblock %}