{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid form-container">
    <div class="row form-row">
        {% if "/pupil_check" or "/validate_pupil_id" in request.META.HTTP_REFERER %}
            {% if user.is_authenticated and user.role == "parent" or "pupil" %}
            <div>
            <hr>
                <h4>For security purposes, please type your valid PUPIL ID Number to proceed (Tell me more)</h4>
                <h4>If no match is displayed after clicking Verify Pupil Id then pupil id is not valid!</h4>
                <form method='GET'>
                    <input type='text' name='pupil_id' value='{{ request.GET.pupil_id}}'>
                    <input class="button" type='submit' value="Verify Pupil ID">
                </form>
                <hr>
            </div>

                {% for pupil in object_list %}
                    <div>
                            <h3>Pupil Id Confirmed!</h3>
                            <h4>Pupil Name : {{ pupil.pupil_full_name}}</h4>
                            <h4 id="valid-pupil-id">{{ pupil.pupil_id}}</h4> 
                            <h3><a onclick="setValidatePupilId()" href="{% url 'add_passport' %}">Click to get started!</a></h3>
                    </div>
                {% endfor %} 
            {% else %}
            <h3>
                Warning! 
                You are unauthorised to view this page! 
                If you cannot find the page you are looking for please email MyPSE.ie support
                or visit the about page for more information about how to use this site.
            </h3>
            {% endif %}

        {% else %}
        <h3>
            Warning! 
            You are unauthorised to view this page! 
            You have not navigated to this page from your list of approved passports.
        </h3>
        {% endif %}
 {% endblock %}