{% extends "base.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <title>
            delete
        </title>
    </head>
    <body>
        <div class="container-fluid list-heading"></div>
            <div>&nbsp;
                <div class="row">
                    <div class="col-12">
                        <section class="callout jumbotron text-center">
                            <h1 class="jumbotron-header">***WARNING***</h1>
                            <hr class="block-divider">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <br>
                                <p>You are about to delete this passport </p>
                                <input type="submit" value="Delete" class="btn btn-lg btn-danger">
                                <a href="{% url 'passport_list' %}" class="btn btn-lg btn-success">Go Back</a>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}